.prev,
.next {
  transform: translateY(-50%);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 16px;
  transition: all 0.3s ease ;
  background-color: #ffffff32;
}

.prev:hover, .next:hover{
  background: #ffffff;
  color: white;
}

.prev {
  margin-right: 1rem;
  position: absolute;
  left: -2rem;
}

.next {
  margin-left: 1rem;
  position: absolute;
  right: -2rem;
}

.arrowLeft {
  transform: rotate(180deg);
}

@media screen and (max-width: 996px) {
    .prev,
    .next {
        padding: 8px;
    }

    .prev img{
        width: 24px;
        height: 24px;
    }

    .next img{
        width: 24px;
        height: 24px;
    }

}