.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.featureSvg {
  max-width: 300px;
  max-height: 200px;
}

.carousel {
  position: relative;
  width: 100%;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewport {
  overflow: hidden;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track {
    width: 100%;
    display: flex;
}

.slide {
  max-width: 50%;
  text-align: center;
  padding: 32px;
}

.image {
  width: 200px;
  height: auto;
  margin-bottom: 1rem;
}

/* Botões */
.prev,
.next {
  transform: translateY(-50%);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease ;
}

.prev:hover, .next:hover{
  background: var(--ifm-color-primary);
}

.prev {
  margin-right: 1rem;
}

.next {
  margin-left: 1rem;
}


.dots {
  display: flex;
  gap: 8px;
  margin-top: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dotActive {
  background: var(--ifm-color-primary);
  width: 25px;
  border-radius: 5px;
}