/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.container{
  display: flex;
  width: 100%;
}

.centerColumn{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  h1{font-size: 1.5rem;}
  p{font-size: 1rem;}
}
